################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/.vs/Server/FileContentIndex/116dab26-5944-475a-8b47-191fe0213b97.vsidx
/Server/.vs/Server/FileContentIndex/4d6ac52a-9e0e-46dd-87fb-400f37c32445.vsidx
/Server/.vs/Server/FileContentIndex/ed49695c-8b99-49dd-9d5b-6999c3aa5043.vsidx
