################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CITOrenSAU/FileContentIndex/7b40b9d2-4820-44ba-8ef1-4efc4642ac24.vsidx
